/* 셀렉트 박스 앞 라벨 추가 */
.inline-label {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle; /* 수직 정렬 */
}/*  */
#selectList {
    width: 100%;
    max-width: 100%;
    height: 50px; /* 높이를 조절하여 옵션 텍스트가 잘리지 않도록 */
    white-space: normal; /* 옵션 텍스트가 잘리지 않도록 */
    overflow: visible; /* 내용이 넘칠 경우 잘리지 않고 표시되도록 */
    line-height: 1.5; /* 행간을 더 넓게 설정 */
}

#selectList option {
    white-space: normal; /* 옵션 텍스트가 잘리지 않도록 */
    font-size: 14px; /* 폰트 크기 조절 */
}

/* 마커 정보창 스타일*/
.navermaps-iframe {
	width: 200px;  
	height: 150px;  
}	

/* 로고이미지 사이즈 */
.topnav .navbar-brand img {
  height: 2.8rem;
  margin-right: 20px 
  
}

/* .d-flex {
  display: flex !important;
 flex-direction: column;
} */

#sensorChart {
    width: 100%; /* 캔버스 요소의 가로 크기를 부모 요소의 100%로 설정합니다. */
    max-width: 1000px;
    height: 300px; /* 세로 길이를 400px로 설정합니다. */
}