<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Renewen dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
       <!-- Litepicker 스타일시트 추가  -->
       <link href="../../../../resources/static/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../assets/img/logo.png" />
        <script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">
        <!-- renewen -->
        <!-- <link rel="stylesheet" href="../css/chart.css"> -->
        <script src="../js/fetch.js"> </script>
      
        </head>

<body class="nav-fixed">

    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
        id="sidenavAccordion"></nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- fetch.js -->
        </div>


        <div id="layoutSidenav_content">
            <main>
                <!-- <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"> -->
                <header class="page-header page-header-dark bg-gradient-warning  pb-10">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-xl px-4 mt-n10">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        <div class="col mb-4">
                            <div class="card h-auto">
                                <div class="card-header">
                                    현재 발전량
                                </div>
                                <div class="card-body" >
                                    <!-- 1번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png"  alt="ex">
                                </div>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    오늘의 발전량
                                </div>
                                <div class="card-body" >
                                    <!-- 2번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png" alt="ex">
                                </div>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    어제의 발전량
                                </div>
                                <div class="card-body">
                                    <!-- 3번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png"alt="ex">
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    주간 발전량
                                </div>
                                <div class="card-body">
                                    <!-- 4번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png"alt="ex">
                                 
                                </div>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    발전소 현황 관리
                                </div>
                                <div class="card-body" >
                                    <!-- 5번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png" alt="ex">
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    현재 날씨
                                </div>
                                <div class="card-body" >
                                    <!-- 6번째 카드 내용 -->
                                    <img src="../../../../resources/static/assets/img/bell.png" alt="ex">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../js/scripts.js"></script>
    <!-- renewen -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  




</body>

</html>