<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smhrd.renewen.mapper.APIMapper">

	<insert id="insertWeatherFactor" parameterType="hashMap">
			INSERT INTO weather_api(stn_no, weather_type, weather_value, created_at)
			VALUES(#{stnNo}, #{weatherType}, #{weatherValue}, #{createdAt})
	</insert>
	
	<select id="getWeatherList" parameterType="hashMap" resultType="WeatherListVO">
		SELECT DISTINCT stn_no, weather_type, created_at,
	    CASE
        WHEN weather_value &lt; 0 THEN 0 
        ELSE weather_value
    	END AS weather_value
		FROM weather_api 
		WHERE stn_no = #{stnNo}  
			AND weather_type = #{type}
    	AND DATE(created_at) = CURDATE()
    ORDER BY created_at
	</select>
	
</mapper>