<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smhrd.renewen.mapper.PlantMapper">

	<!-- 발전소 -->
	<insert id="registerPlant" parameterType="PowerPlantVO">
		<!-- insert전에 발전소 정렬순서 값 구하기(처음 0 이후 +1씩) -->
		<selectKey order="BEFORE" keyProperty="sortNo" resultType="Integer"> 
			SELECT IFNULL(MAX(sort_no)+1, 0) as sortNo 
			FROM power_plant
			WHERE user_id = #{userId}
		</selectKey>
		INSERT INTO power_plant 
			(user_id, plant_name, plant_addr, plant_addr2 ,
			 br_number, stn_no, latitude, longitude, sort_no)
		VALUES
    	(#{userId}, #{plantName}, #{plantAddr}, #{plantAddr2},
    	 #{brNumber}, #{stnNo}, #{latitude}, #{longitude}, #{sortNo})
	</insert>
	
	<select id="getPlantsByUserId" resultType="PowerPlantVO">
		SELECT * FROM power_plant
		WHERE user_id = #{userId} AND use_yn = 'Y'
		ORDER BY sort_no
	</select>
	
	<delete id="deletePlant" parameterType="PowerPlantVO">
		DELETE FROM power_plant WHERE user_id=#{userId} AND plant_no=#{plantNo}
	</delete>
		
	<select id="getPlantInfo" resultType="PowerPlantVO" >
		SELECT * FROM power_plant WHERE plant_no=#{plantNo}
	</select>
	
	<update id="updatePlant" parameterType="PowerPlantVO">
		UPDATE power_plant 
			SET plant_name=#{plantName}, 
					plant_addr=#{plantAddr},
					plant_addr2=#{plantAddr2},
					br_number=#{brNumber} 
		WHERE plant_no=#{plantNo}
		
	</update>
		

	<select id="getPlantByPlantNo" resultType="PowerPlantVO">
		SELECT * FROM power_plant
		WHERE plant_no = #{plantNo} AND use_yn = 'Y'
	</select>
	
	<select id="getPlantNoByLinkKey" resultType="Long">
		SELECT IFNULL(plant_no, 0) as plant_no 
		FROM power_plant
		WHERE plant_link_key = #{plantLinkKey} AND use_yn = 'Y'
	</select>
	<!-- ================================================================================ -->
	
	<!-- 센싱데이터 -->
	<insert id="insertSensingData" parameterType="SensingDataVO">
		INSERT INTO plant_sensing_data
	    (plant_no, sensor_id, sensor_serial_num, measure_value, measure_desc, created_at)
	VALUES
	    (#{plantNo}, #{sensorId}, #{sensorSerialNum}, 
	     #{measureValue},#{measureDesc}, #{createdAt})
	</insert>
	
	<resultMap id="sensingResult" type="SensingDataVO">
		<id property="sdNo" column="sd_no" />
		<result property="plantNo" column="plant_no"/>
		<result property="sensorId" column="sensor_id"/>
		<result property="sensorSerialNum" column="sensor_serial_num"/>
		<result property="measureValue" column="measure_value"/>
		<result property="measureDesc" column="measure_desc"/>
		<result property="useYn" column="use_yn"/>
		<result property="createdAt" column="created_at"/>
		
	  <association property="sensorInfo" javaType="SensorInfoVO">
	  	<id property="sensorId" column="sensor_id"/>
		  <result property="sensorTypeCd" column="sensor_type_cd"/>
		  <result property="sensorTypeNm" column="sensor_type_nm"/>
		  <result property="sensorDesc" column="sensor_desc"/>
		  <result property="measureUnit" column="measure_unit"/>
	  </association>
	</resultMap>
	
	<select id="getSensingDatasByPlantNo" resultMap="sensingResult">
		SELECT p.sd_no, p.plant_no, p.sensor_id, p.sensor_serial_num, p.measure_value, s.measure_unit,
		   p.measure_desc, s.sensor_type_cd, s.sensor_type_nm, s.sensor_desc, p.use_yn, p.created_at
		FROM plant_sensing_data p  
		    INNER JOIN sensor_info s 
		    ON p.sensor_id = s.sensor_id
		WHERE p.plant_no = #{plantNo}
	</select>
	
	<select id="getSensingDataBySdNo" resultMap="sensingResult">
		SELECT p.sd_no, p.plant_no, p.sensor_id, p.sensor_serial_num, p.measure_value, s.measure_unit,
		   p.measure_desc, s.sensor_type_cd, s.sensor_type_nm, s.sensor_desc, p.use_yn, p.created_at
		FROM plant_sensing_data p  
		    INNER JOIN sensor_info s 
		    ON p.sensor_id = s.sensor_id
		WHERE p.sd_no = #{sdNo}
	</select>
		
	<!-- ================================================================================ -->
	
	<!-- 구름형상 이미지 -->
	<select id="getCloudImgsByPlantNo" resultType="CloudShotImgVO">
		SELECT 
			cs_no, plant_no, cloud_img_desc, cloud_img_name, cloud_img_realname,
			cloud_img_size, cloud_img_ext, use_yn, created_at
	 	FROM cloud_shot_img
		WHERE plant_no = #{plantNo}
	</select>
	
	<insert id="insertCloudShotImg" parameterType="CloudShotImgVO">
		INSERT INTO cloud_shot_img
    	(plant_no, cloud_img_desc, cloud_img_name, cloud_img_realname, 
    	 cloud_img_size, cloud_img_ext, created_at)
		VALUES
    	(#{plantNo}, #{cloudImgDesc}, #{cloudImgName}, #{cloudImgRealname},
    	 #{cloudImgSize}, #{cloudImgExt}, #{createdAt})
	</insert>

	<!-- ================================================================================ -->

	<!-- 발전셀 -->

	<!-- 아두이노 연동 - 발전셀 정보 use_yn 'N'으로 -->
	<insert id="insertGenerateCell" parameterType="GenerateCellVO">
		INSERT INTO generate_cell
	    (plant_no, cell_type, cell_serial_num, cell_volume, cell_size_unit, 
	     cell_width, cell_height, cell_depth, use_yn)
	VALUES
	    (#{plantNo}, #{cellType}, #{cellSerialNum}, #{cellVolume}, #{cellSizeUnit},
	     #{cellWidth}, #{cellHeight}, #{cellDepth}, #{useYn} )
	</insert>
	
	<insert id="insertCellShotImg" parameterType="CellShotImgVO">
		INSERT INTO cell_shot_img
    	(cell_no, cell_img_desc, cell_img_name, cell_img_realname,
    	 cell_img_size, cell_img_ext, created_at)
		VALUES
    	(#{cellNo}, #{cellImgDesc}, #{cellImgName}, #{cellImgRealname},
    	 #{cellImgSize}, #{cellImgExt}, #{createdAt})
	</insert>

	<insert id="insertGeneratedElec" parameterType="CellGeneratedElecVO">
		INSERT INTO cell_generated_elec
		    (cell_no, gen_voltage, gen_elec_current, created_at)
		VALUES
		    (#{cellNo}, #{genVoltage}, #{genElecCurrent}, #{createdAt});
	</insert>
	
	<select id="getCellNoBySerialNum">
		SELECT IFNULL(cell_no, 0) as cell_no 
		FROM generate_cell
		WHERE cell_serial_num = #{cellSerialNum}
	</select>
	
	<select id="getCellsByPlantNo" resultType="GenerateCellVO">
		SELECT * FROM generate_cell
		WHERE plant_no = #{plantNo}
		ORDER BY cell_no
	</select>

	<select id="getCellImgsByCellNo" resultType="CellShotImgVO">
		SELECT * FROM cell_shot_img
		WHERE cell_no = #{cellNo}
		ORDER BY created_at DESC
	</select>
	
</mapper>