<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smhrd.renewen.mapper.PlantStatsMapper">

	<select id="getTotalElecPerCell" resultType="CellGeneratedElecVO">
		SELECT A.cell_no, 
			A.gen_voltage,
			A.gen_elec_current,
			A.created_at
		FROM 
			cell_generated_elec AS A
		JOIN 
				(SELECT cell_no, plant_no 
				 FROM generate_cell
				 WHERE plant_no = #{plantNo} ) AS B 
			ON A.cell_no = B.cell_no
		WHERE DATE(A.created_at) = CURDATE()
	</select>

	<select id="getCurrentElecPerCell" resultType="CellGeneratedElecVO">
		SELECT A.cell_no, A.gen_voltage, A.gen_elec_current
		FROM cell_generated_elec A
		JOIN (
		    SELECT cell_no, MAX(created_at) AS max_created_at
		    FROM cell_generated_elec
		    GROUP BY cell_no
		) AS B 
			ON A.cell_no = B.cell_no AND A.created_at = B.max_created_at
		JOIN generate_cell AS GC 
			ON A.cell_no = GC.cell_no
		WHERE GC.plant_no = #{plantNo}
			AND DATE(A.created_at) = CURDATE()
	</select>
	
	<select id="getPredictPerHour" parameterType="java.util.Map" resultType="PredictedGenElecVO" >
		SELECT 
			SUM(predict_gen_elec) as gen_elec, created_at 
		FROM predicted_gen_elec
		WHERE plant_no = #{plantNo}
			AND DATE_FORMAT(created_at, '%Y%m%d') = #{checkDate}
		GROUP BY created_at
	</select>
	
	<select id="getHourElecPerCell">
		SELECT cell_no, gen_voltage, gen_elec_current, created_at
		FROM cell_generated_elec
		WHERE 
			DATE_FORMAT(created_at, '%Y%m%d %H') = #{dateHour} <!-- '20240304 18' -->
	    AND use_yn = 'Y'
	    AND cell_no IN 
	     <foreach item="item" collection="cellNos" open="(" separator="," close=")">
            #{item}
        </foreach>
	</select>
	
	
</mapper>